%input-base {
	border: none;
	border-radius: var(--wp--custom--border-radius--small);
	background-color: var(--wp--preset--color--tpz-bg);
	cursor: pointer;
	color: var(--wp--preset--color--tpz-fg);

	&:disabled {
		cursor: default;
		pointer-events: none !important;
		color: #8888;
	}
}
