%input-base {
	border: none;
	border-radius: var(--wp--custom--border-radius--small);
	background-color: var(--wp--preset--color--theme-white);
	cursor: pointer;
	color: var(--wp--preset--color--theme-black);

	&:disabled {
		cursor: default;
		pointer-events: none !important;
		color: #8888;
	}
}
