<!-- wp:template-part {"slug":"header","theme":"therapize","tagName":"header","className":"jsSlideHeader"} /-->

<!-- wp:group {"tagName":"main","align":"full","style":{"spacing":{"margin":{"top":"0","bottom":"0"}}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group alignfull" style="margin-top:0;margin-bottom:0">

	<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"right":"0","left":"0"}}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignfull" style="padding-right:0;padding-left:0">
		<!-- wp:post-featured-image {"height":"70vh","align":"full","style":{"spacing":{"margin":{"top":"0","bottom":"0","left":"0","right":"0"}}}} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"align":"wide","className":"wp-block-group-is-layout-constrained has-theme-white-background-color has-background page-with-featured-image-overlap","style":{"border":{"radius":{"topLeft":"1rem","topRight":"1rem"}},"spacing":{"padding":{"top":"var:preset|spacing|60","bottom":"var:preset|spacing|60"},"backgroundColor":"theme-white"},"layout":{"type":"constrained"}},"layout":{"type":"constrained"}} -->
	<div class="wp-block-group alignwide wp-block-group-is-layout-constrained has-theme-white-background-color has-background page-with-featured-image-overlap" style="border-top-left-radius:1rem;border-top-right-radius:1rem;padding-top:var(--wp--preset--spacing--60);padding-bottom:var(--wp--preset--spacing--60)">
		<!-- wp:post-title {"textAlign":"center","level":1,"fontSize":"display-small"} /-->
	</div>
	<!-- /wp:group -->

	<!-- wp:group {"align":"full","style":{"spacing":{"padding":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50"}}},"layout":{"type":"default"}} -->
	<div class="wp-block-group alignfull" style="padding-right:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)">
		<!-- wp:post-content {"align":"full","layout":{"type":"constrained"}} /-->
	</div>
	<!-- /wp:group -->

</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"therapize","tagName":"footer","area":"footer","align":"full"} /-->