.hero {
	--svgWidth: clamp( 10rem, 34%, 20rem ) !important;
	--svgMarginTop: 340px !important;

	h1 {
		z-index: 1;
	}

	.hero_svg {
		position: absolute;
		//z-index: 0;
		margin-top: var(--svgMarginTop) !important;
		margin-left: -20px !important;
		width: var(--svgWidth) !important;

		// Using the SVG plugin, the SVG gets rendered as an <img> in the editor and <svg> on frontend.
		svg {
			width: var(--svgWidth) !important;
		}
		img {
			object-fit: contain	!important;
			width: var(--svgWidth) !important;
		}
	}

	@media screen and (max-width: 781px) {

		.hero_svg {
			--svgMarginTop: -5.5rem !important;
			margin-right: 10rem !important;
		}

		.hero_photo {
			float: none !important;
			margin: 0 auto !important;
		}
	}
}